.group--participants {
  box-sizing: border-box;

  width: 795px;
  height: 269px;
  left: 309px;
  top: 100px;

  background: #ffffff;
  /* Gray_light */
  border: 1px solid #bfbfbf;
  border-radius: 10px 0px 0px 10px;
}
